@use "../../../scss/main.scss" as *;

section {
  @include flex-column-center;
  gap: 2rem;
  text-align: center;
  h2 {
    font-size: $text-xxl;
  }
  p {
    width: 70%;
    text-align: center;
    line-height: $line-height-loose;
    font-size: $text-md;

    @include respond-to(sm) {
      width: 90%;
    }
  }
}
