<section id="gallery">
  <div class="content">
    <h2>{{ title }}</h2>
    <p>{{ text }}</p>
  </div>
  <div class="gallery_images">
    <div id="single_image">
      <img src="/img/gallery/img_1.png" alt="gallery_image" />
    </div>
    <div class="group_image">
      <div>
        <img src="/img/gallery/img_2.png" alt="gallery_image" />
      </div>
      <div>
        <img src="/img/gallery/img_2.png" alt="gallery_image" />
      </div>
      <div>
        <img src="/img/gallery/img_3.png" alt="gallery_image" />
      </div>
      <div>
        <img src="/img/gallery/img_4.png" alt="gallery_image" />
      </div>
    </div>
  </div>
</section>
