@use "../../../scss/main.scss" as *;

section {
  @include flex-column-center;
  gap: 2rem;
  text-align: center;

  .content {
    h2 {
      font-size: $text-xxl;
    }
    p {
      text-align: center;
      line-height: $line-height-loose;
      font-size: $text-md;
      margin-block: 1rem;

      @include respond-to(sm) {
        width: 90%;
      }
    }
  }

  .gallery_images {
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    #single_image {
      border-radius: $border-radius-md;
      overflow: hidden;
      img {
        width: calc(100%);
        height: 100%;
        @include transition;

        &:hover {
          scale: 1.1;
          filter: grayscale(1);
        }
      }
    }
    .group_image {
      gap: 0.5rem;
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      display: grid;

      div {
        border-radius: $border-radius-md;
        width: fit-content;
        overflow: hidden;
        img {
          width: calc(100%);
          height: 100%;
          @include transition;

          &:hover {
            scale: 1.1;
            filter: grayscale(1);
          }
        }
      }
    }

    @include respond-to(sm) {
      grid-template-columns: 1fr;
    }
  }
}
