<header>
  <a href="#" class="logo">
    <h1>
      <span>
        <i class="fas fa-clock"></i>
      </span>
      {{ LOGO }}
    </h1>
  </a>
  <nav [class.isOpen]="isMenuOpen">
    <ul>
      @for (navlink of NAV_LINKS; track navlink.id) {
      <li>
        <a href="{{ navlink.path }}">{{ navlink.text }}</a>
      </li>
      }
    </ul>
  </nav>
  <div class="header-buttons">
    <button id="toggle-theme-button" type="button">
      <i class="fas fa-moon"></i>
    </button>

    <button id="toggle-menu-button" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</header>
