
header {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 5%;

  a.logo{
    h1{

    }
  }

  nav {
    gap: 1rem;
    ul {
      gap: 1rem;

      li a {
        color: #1f1f1f;
      }
    }
  }
}

/* COMMON STYLES*/
header,
nav,
ul {
  display: flex;
}
