@use "../../../scss/main.scss" as *;

header {
  @include header-style;

  a.logo{
    color: $text-black;
    span{
      color: $primary-color;
    }

  }

  nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    ul {
      display: flex;
      gap: 1.5rem;

      li a {
        color: $text-black;
      }
    }
  }

  .header-buttons {
    display: flex;
    gap: 2rem;

    #toggle-theme-button {
      padding: 0.7rem 1rem;
      background: #e5e7eb;
      border: none;
      border-radius: 5px;
    }

    #toggle-menu-button {
      display: none;
    }
  }
}

/* COMMON STYLES*/
