@use "scss/main" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lexend", sans-serif;
}

body {
  width: 100%;
  height: 100dvh;
  background: $bg-light;
  padding-inline: 5%;

  main {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;
  }

  color: $text-black;
}
